.Navbar{
    background-color:whitesmoke;
    height: 70px;
}

.BoxButtons{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-around;   
   padding: 10px; 
}

.Button{
    border-radius: 10px;

}
