.Navbar{
    background-color:white;
    height: 100px;
    margin-bottom: 3rem;
}

.BoxButtons{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-around;   
   padding: 10px;
   padding-top: 1.5rem; 

   
}

.Button{
    border-radius: 10px;
}
